.HeaderBody {
    background-image: url("/assets/1.jpg");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
    background-attachment:fixed;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

/* .containers {
    text-align:center ;
    width: 100vh;


} */

.typewriterHeading,
.typewriterSubheading {
    display: inline-block;
    overflow: hidden;
    /* Ensures content is hidden during the animation */
    border-right: 2px solid black;
    /* Creates a cursor effect */
    white-space: nowrap;
    /* Keeps text on a single line */
    letter-spacing: 2px;
    /* Adds a bit of spacing between letters */
    animation: typewriter 3s steps(40, end), blinkCursor 0.75s step-end infinite;
    word-wrap: break-word;
}

.typewriterHeading {
    font-size: 4rem;
    font-weight: bold;



    /* Control the width according to the text length */
}

.typewriterSubheading {
    font-size: 2rem;
    width: 100%;
    /* Control the width according to the text length */
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .HeaderBody {
        background-image: url("/assets/mobile.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        width: 100%;
        background-attachment:fixed;
    }

    .typewriterHeading {
        font-size: 3rem;
        white-space: normal;
        /* Allow text to wrap */
    }

    .typewriterSubheading {
        font-size: 1.5rem;
        white-space: normal;
        /* Allow text to wrap */
    }
}